body{
    font-family: 'Open Sans Condensed', sans-serif;
    background: #00c18b;
    color : #FFF;
}
.topcoat-text-input,
.topcoat-text-input--large {
    line-height: 3rem;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 0 1.25rem;
    border: 1px solid #9daca9;
    border-radius: 6px;
    background-color: rgba(0,0,0,0.3);
    box-shadow: inset 0 1px rgba(0,0,0,0.1);
    color: #454545;
    vertical-align: top;
}

.topcoat-text-input:focus,
.topcoat-text-input--large:focus {
    background-color: #fff;
    color: #454545;
    border: 1px solid #0036ff;
    box-shadow: 0 0 0 2px #6fb5f1;
}

.topcoat-text-input:disabled::-webkit-input-placeholder {
    color: #454545;
}

.topcoat-text-input:disabled::-moz-placeholder {
    color: #454545;
}

.topcoat-text-input:disabled:-ms-input-placeholder {
    color: #454545;
}

.topcoat-text-input:invalid {
    border: 1px solid #ec514e;
}
.topcoat-textarea,
.topcoat-textarea--large {
    padding: 0 10px;
    font-size: 1.2em;
    font-weight: 400;
    border-radius: 6px;
    line-height: 1.4em;
    border: 1px solid #9daca9;
    background-color: rgba(0,0,0,0.3);
    box-shadow: inset 0 1px rgba(0,0,0,0.1);
    color: #454545;
    letter-spacing: 1px;
    width: 100%;
}

.topcoat-textarea:focus,
.topcoat-textarea--large:focus {
    background-color: #fff;
    color: #454545;
    border: 1px solid #0036ff;
    box-shadow: 0 0 0 2px #6fb5f1;
}

.topcoat-textarea:disabled::-webkit-input-placeholder {
    color: #454545;
}

.topcoat-textarea:disabled::-moz-placeholder {
    color: #454545;
}

.topcoat-textarea:disabled:-ms-input-placeholder {
    color: #454545;
}
input {
    /*background-color: #fff !important;*/
    /*border: 1px solid rgba(0, 0, 0, 0.15);*/
    /*border-radius: 0.3125em;*/
    /*color: rgba(0, 0, 0, 0.7);*/
    /*margin: 0;*/
    /*outline: 0 none;*/
    /*padding: 0.65em 1em;*/
    transition: background-color 0.3s ease-out 0s, box-shadow 0.2s ease 0s, border-color 0.2s ease 0s;
    width: 100%;
    /*font-weight: bold;*/
}
input:focus {
    border-bottom-left-radius: 0.3125em;
    border-color: rgba(0, 0, 0, 0.2);
    border-top-left-radius: 0.3125em;
    box-shadow: 0.3em 0 0 0 rgba(0, 0, 0, 0.2) inset;
    color: #454545;
}
.bigQuote {
    font-family: 'Roboto Slab', serif;
    font-size: 53px;
    padding: 20px;
    font-weight: 300;
    color: rgba(0,0,0,0.8);
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
        0px -5px 35px rgba(255,255,255,0.3);
    margin-top: 20px;
}
div.quoteAuthorBigQuote {
    text-align: right;
    font-size: 32px;
}
.login-form{
    margin-top: 80px;
}
input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px white inset; /* Change the color to your own background color */
    /*-webkit-text-fill-color: #333;*/
}

input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 50px white inset;
    /*-webkit-text-fill-color: #333;*/
} 
.stdBtn {
    width: 100%;
    border: 1px solid #58c026;
    border-radius: 4px;
    padding: 0.65em 1em;
    background-image: linear-gradient(#91e26a, #56c620);
    margin-top: 10px;
    box-shadow: inset 0 0 3px #e0f7d5;
    outline: 0 none;
    font-size: 1em;
    line-height: normal;
    margin-bottom: 10px;
    font-weight: bold;
}
.stdBtn:hover{
    background-image: linear-gradient(#96e570, #64df29);
    box-shadow: inset 0 0 3px #e5f9db;
    border : 1px solid #479f1d;
    color: #fff;
}
form input {
    margin: 10px 0;
}
.signuplink, .forgotPswdLink{
    text-align: center;

}
.signuplink a {
    color: #fff;
}
.signuplink a:hover {
    cursor: pointer;
    color: #000;
}
#captcha-container{
    text-align: center;
    margin: 10px 0;
}
.recaptchatable #recaptcha_response_field{
    border: 1px solid rgba(0, 0, 0, 0.15) !important;
    padding: 0.65em 1em !important;
}
.registerQuote{
}
#recaptcha_area{
    display: inline-block;
    overflow: auto;
}
.invalid-input {
    border: 1px solid #8E001C;
    color: #8E001C !important;
    font-weight: bold;
}
.valid-input {
    border: 1px solid #45BF55;
    color: #00c18b!important;
    font-weight: bold;
}
.err-msg {
    color: #B9121B;
    font-weight: 600;
}
.success-msg{
    color: #00c18b;
}
.input-group{
    position : relative;
}
p{
    padding: 0;
    margin: 0;
}
button[disabled], html input[disabled] {
    opacity: 0.6;
    color: black;
}
button[disabled]:hover {
    border: 1px solid #58c026;
    background-image: linear-gradient(#91e26a, #56c620);
    box-shadow: inset 0 0 3px #e0f7d5;
}
span.ajax-load::before {
    background: url("../img/ajax-loader.gif");
    background-repeat: no-repeat;
    content: "";
    width: 128px;
    height: 128px;
    display: block;
    margin: 10px 0;
}
div.ws-in-progress {
    position: absolute;
    top: 0;
    background: #000;
    opacity: 0.9;
}
span.ajax-load {
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}
.ng-hide-add,
.ng-hide-remove {
    display:block!important;
}

.ng-hide-add.ng-hide-add-active,
.ng-hide-remove.ng-hide-remove-active {
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
}
.ng-hide {
    line-height:0;
    opacity:0;
}
.stdBtn:focus {
    text-shadow: 2px 0 4px #000;
}
.titleBar {
    text-align: center;
    padding: 15px;
    font-size: 3em;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: 3px 1px 0px rgba(0,0,0,0.4);
}
p.signuplink, p.forgotPswdLink {
    padding: 5px 0;
    &:hover {
        color: #000;
    }
    span{
        cursor: pointer;
        border-bottom: 1px solid;
    }
}
p.app-message-error {
    text-align: center;
    padding: 10px;
    border: 1px solid;
    border-radius: 3px;
    background: coral;
    color: darkred;
    font-weight: 600;
}
p.app-message-success {
    text-align: center;
    padding: 10px;
    border: 1px solid;
    border-radius: 3px;
    background: #58c026;
    color: #316b15;
    font-weight: 600;
}
.loginBtnRegForm {
    margin-top: 28px;
    text-align: center;
    color: #479f1d;
    font-weight: 500;
    font-size: 1.2em;
    color: #316b15;
}
.reg-form-container{
    margin-top: 20px;
    background : #fff;
    border-radius: 4px;
    padding: 20px 20px 40px 20px;
}
.txt-reg {
    text-align: center;
    color: #323a45;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 1.2em;
    padding : 10px 0;
}
.load-view.ng-enter {
    -webkit-animation: fadeInDown 1s;
    -moz-animation: fadeInDown 1s;
    -ms-animation: fadeInDown 1s;
    animation: fadeInDown 1s;
}
.err-msg.ng-hide-remove{
    -webkit-animation: slideInRight 1s;
    -moz-animation: slideInRight 1s;
    -ms-animation: slideInRight 1s;
    animation: slideInRight 1s;
}
.err-msg.ng-hide-add{
    -webkit-animation: disapear 1s;
    -webkit-animation-fill-mode: forwards; 
    animation: disapear 1s;
    animation-fill-mode: forwards;
}
.app-message.ng-hide-remove{
    -webkit-animation: flipInX 1s;
    -moz-animation: flipInX 1s;
    -ms-animation: flipInX 1s;
    animation: flipInX 1s;
}
@-webkit-keyframes disapear{
    50% {
        -webkit-transform: translateX(-5%);
        transform: translateX(-5%);
    }
    100% {
        -webkit-transform: translateX(200%);
        transform: translateX(200%); 
    }    
}
.loginBtnRegForm a {
    display: block;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    margin-top: 22px;
    text-decoration: none;
    color: #fff;
}
.header{
    padding: 0;
}
span.linkResend:hover {
    color: black;
}
span.linkResend {
    cursor: pointer;
    color: green;
    font-weight: 600;
}
p.resend-verify-invite {
    padding: 10px;
    text-align: center;
    font-size: 1.2em;
}
.reset-email{
    padding: 0 0 5px;
    font-size: 1.2em;
    color: black;
    font-weight: 600;
    margin-top: 10px;
}

@media all and (max-width : 1024px){
    body{
        padding: 10px;
    }
    .login-form{
        margin-top: 40px;
    }
    .bigQuote{
        font-size:1.3em;
    }
    div.quoteAuthorBigQuote{
        font-size: 1.2em;
    }
    .quoteContainer{
        display: none;
    }
}
.categories-list{
    list-style: none;
    padding: 0;
    li{
        padding: 10px 0;
        display: block;
        overflow: auto;
        border-bottom: 1px solid;
    }
}
.ctg-name {
    display: block;
    padding: 2px 0;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: .5px;
}
.ctg-desc {
    display: block;
    padding: 2px 0;
    font-size: 1.2em;
}
.search-ctg{
    background-image: url("../img/search.png");
    background-repeat: no-repeat;
    background-position: 100%;
}
.next-item{
    button{
        background-image: url("../img/next_item.png");
        background-repeat: no-repeat;
        background-position: 100%;
        height: 48px;
        display: inherit;
        cursor: pointer;
        width: 100%;
        background-color: transparent;
        border: none;
        outline: 0;
    }
    button[disabled], html input[disabled] {
        opacity: 0.6;
        color: #fff;
    }
    button[disabled]:hover {
        border: none;
        box-shadow: none;
        cursor: not-allowed;
        background: transparent;
        background-image: url("../img/next_item.png");
        background-repeat: no-repeat;
        background-position: 100%;
    }
}
.likes-count{
    padding: 0 10px 0 16px;
    font-size: 1.2em;
    font-weight: 600;
    background: rgba(0,0,0,0.3);
    opacity: 0.7;
    border-radius: 4px;
    position : relative;
    &:before{
        content: '';
        background-image: url("../img/favorite.png");
        background-repeat: no-repeat;
        background-position: 100%;
        display: block;
        width: 48px;
        height: 1.4em;
        position: absolute;
        left: -31px;
        top: 0px;
    }
}
.like, .liked{
    padding: 0 15px 0 5px;
    cursor : pointer;
    color : #00261C;
    font-size: 1.2em;
    line-height: 48px;
    font-weight: 600;
    outline:0;
    &:hover{
        text-decoration: underline;
        outline: 0;
    }
}
.likeCtg {
    button{
        border: none;
        background-color: transparent;
    }
    button[disabled], html input[disabled] {
        opacity: 0.6;
        color: #fff;
    }
    button[disabled]:hover {
        border: none;
        box-shadow: none;
        cursor: not-allowed;
        background: transparent;
    }
}
.likeCtg-quotes{
    display: inline-block;
    float: right;
}
.edits{
    text-align: right;
    font-weight: 600;
    .edit-option{
        color: #00261C;
        padding-left: 10px;
    }
    .delete-option{
        color: #B9121B;
        padding-left: 10px;
    }
    .save-option{
        color: #00261C;
        padding-left: 10px;
    }
    .cancel-option{
        color: #B9121B;
        padding-left: 10px;
    }
    button{
        background: transparent;
        border: none;
    }
    button:hover{
        text-decoration: underline;
    }
    button[disabled], html input[disabled] {
        opacity: 0.6;
    }
    button[disabled]:hover {
        border: none;
        box-shadow: none;
        cursor: not-allowed;
        background: transparent;
    }
    button:focus{
        outline: 0;
    }
}
.editCtgBtns{
    button{
        text-align: center;
        width: 100%;
        font-size: 1.4em;
        background: rgba(0,0,0,0.6);
        padding: 12px;
        border-radius: 4px;
        margin-top: 10px;
    }
}
.add-cateogry{
    button{
        font-size: 1.2em;
        padding: 10px 18px 10px 0;
        cursor: pointer;
        text-align: right;
        position: relative;
        background: transparent;
        border: 0;
        float: right;
        &:after{
            content: '';
            background-image: url("../img/new.png");
            background-repeat: no-repeat;
            background-position: 100%;
            display: block;
            width: 48px;
            height: 1.4em;
            position: absolute;
            right: -14px;
            top: 8px;
        }
    }
    button[disabled], html input[disabled] {
        opacity: 0.6;
        color: #fff;
    }
    button[disabled]:hover {
        border: none;
        box-shadow: none;
        cursor: not-allowed;
        background: transparent;
    }
    button:hover {
        text-shadow: 2px 8px 6px rgba(0,0,0,0.5);
    }
    button:focus{
        outline: 0;
    }
}
.back-to-ctg{
    button{
        font-size: 1.2em;
        padding: 10px 18px 10px 0;
        cursor: pointer;
        text-align: right;
        position: relative;
        background: transparent;
        border: 0;
        float: left;
        &:before{
            content: '';
            background-image: url("../img/back.png");
            background-repeat: no-repeat;
            background-position: 100%;
            display: block;
            width: 48px;
            height: 1.4em;
            position: absolute;
            left: -36px;
            top: 6px;
        }
    }
    button[disabled], html input[disabled] {
        opacity: 0.6;
        color: #fff;
    }
    button[disabled]:hover {
        border: none;
        box-shadow: none;
        cursor: not-allowed;
        background: transparent;
    }
    button:hover {
        text-shadow: 2px 8px 6px rgba(0,0,0,0.5);
    }
    button:focus{
        outline: 0;
    }
}
.delete-dialog {
    width : 100%;
    padding: 0 10px;
    font-size: 1.2em;
    font-weight: 600;
    background: rgba(0,0,0,0.8);
    opacity: 0.7;
    border: 1px solid;
    border-color: transparent;
    border-bottom-color: #fff;
    z-index: 1000;
    position: fixed;
    p{
        text-align: center;
        padding: 10px;
        text-transform: uppercase;
        cursor: pointer;
    }
}
.delete-confirm{
    border-right: 1px solid #fff;
}
.delete-cancel{

}
.delete-row-highlight{
    background: rgba(0,0,0,0.6);
}
.edit-desc{
    margin-top: 5px;
}
.input-group input{
    font-weight: bold;
    background : transparent;
}
.redirect-form input{
    background : rgba(0,0,0,0.3);
}
.quote-text{
    font-size: 1.5em;
    text-transform: none;
    text-shadow: 2px 8px 8px rgba(0,0,0,0.5);
}
.form-edit .valid-input {
    font-weight: normal;
}
.logout-btn{
    background-image: url("../img/logout.png");
}
.login-btn{
    background-image: url("../img/login.png");
}
.logout-btn, .login-btn{
    background-repeat: no-repeat;
    background-position: 100%;
    height: 48px;
    width: 48px;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 16px;
    cursor: pointer    
}
.reg-form-container input{
    line-height: 2.3rem;
}